.homeParent {
	width: 100%;
	min-height: calc(100vh + 85px);
	position: relative;
	--bg-width: 1920px;
}

.imageComponentsParent {
	width: 100%;
	min-height: inherit;
	overflow: hidden;
	position: absolute;
	top: -85px;
	left: 50%;
	transform: translateX(-50%);
}

.imageComponentsWrapper {
	width: 100%;
	position: relative;
	/* height: 100vh; */
	overflow: visible;
	/* background: url( '/images/homeBG.png'); */
	/* background-size: cover; */
	/* background-repeat: no-repeat; */
	aspect-ratio: 1733 / 1117;
	height: auto;
	transform: scale(0.9) translateY(-80px);
	animation: imageComponentsWrapperFrames 3s linear 5s forwards;
}

.imageComponentsWrapperCon {
	width: var(--bg-width);
	position: absolute;
	overflow: visible;
	aspect-ratio: 1733 / 1117;
	height: auto;
	z-index: 1;
}

.imageComponentsWrapperConClone.imageComponentsWrapperCon {
	z-index: 2;
}

.imageComponentsWrapperConClone {
}

.bg {
	width: var(--bg-width);
	aspect-ratio: 1733 / 1117;
	height: auto;
	position: absolute;
	top: 0;
	z-index: 1;
}

.cLSParent {
	position: absolute;
	top: 205px;
	left: 50%;
	transform: translateX(calc(-50% - 13.5px));
	z-index: 2;
	--cls-width: 850px;
	width: calc(var(--cls-width) + 3px);
	aspect-ratio: 788 / 79;
	height: auto;
}

.cLSParentOriginal {
	position: absolute;
	top: 0px;
	z-index: 1;
	width: calc(var(--cls-width) + 3px);
	aspect-ratio: 788 / 79;
	height: auto;
	animation: imageComponentsWrapperConOriginalFrames 3s linear 5s forwards;
	visibility: visible;
	opacity: 1;
}

.cLSParentClone {
	position: absolute;
	top: 0px;
	z-index: 2;
	width: calc(var(--cls-width) + 3px);
	aspect-ratio: 788 / 79;
	height: auto;
	transform: scale(1.1) translateY(80px);
	animation: imageComponentsWrapperConCloneFrames 3s linear 5s forwards;
	visibility: hidden;
	opacity: 0;
}

.crazyLabsLogo {
	height: 130px;
	aspect-ratio: 142 / 123;
	width: auto;
	position: absolute;
	right: 50%;
	transform: translateX(calc(50% + 27px)) translateY(0px);
}

.flickerCon,
.flicker {
	width: calc(var(--cls-width) + 3px);
	position: absolute;
	top: 0px;
	left: -0.5px;
	aspect-ratio: 788 / 79;
	height: auto;
}

.flickerCon {
	/* top: 26px; */
	/* position: absolute !important; */
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.flicker {
}

.flickerSignage_1 {
	background-image: url('../../../../../public/images/crazyLabsSign-1.png');
}
.flickerSignage_2 {
	background-image: url('../../../../../public/images/crazyLabsSign-2.png');
}
.flickerSignage_3 {
	background-image: url('../../../../../public/images/crazyLabsSign-3.png');
}
.flickerSignage_4 {
	background-image: url('../../../../../public/images/crazyLabsSign-5.png');
}
.flickerSignage_5 {
	background-image: url('../../../../../public/images/crazyLabsSign-6.png');
}
.flickerSignage_6 {
	background-image: url('../../../../../public/images/crazyLabsSign-7.png');
}
.flickerSignage_7 {
	background-image: url('../../../../../public/images/crazyLabsSign-8.png');
}
.flickerSignage_8 {
	background-image: url('../../../../../public/images/crazyLabsSign-4.png');
}

.brokenS {
	position: absolute;
	transform: translateY(calc(100% - 38px));
	right: 34.5px;
}

.signageParent {
	top: 0;
	z-index: 3;
	width: var(--bg-width);
	aspect-ratio: 1733 / 1117;
	height: auto;
	left: 50%;
	transform: translateX(-50%);
}

.door {
}

.door:hover .overlay {
	opacity: 1;
}

.signage {
}

.overlay {
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.rafflesParent,
.copsOnlyParent {
}

.rafflesParent {
	transform: translateY(40px) translateX(-380px);
}

.copsOnlyParent {
	transform: translateY(40px) translateX(380px);
}

.rafflesOverlay,
.copsOnlyOverlay {
	width: auto;
	aspect-ratio: 179 / 522;
	height: 535px;
}

.rafflesOverlay {
}

.copsOnlyOverlay {
}

.rafflesSignage,
.copsOnlySignage {
	height: 54px;
	aspect-ratio: 68 / 54;
	width: auto;
	top: 15px;
}

.rafflesSignage {
	transform: rotate(3deg) translateX(10px);
	top: 28px;
}

.copsOnlySignage {
	transform: rotate(-3deg) translateX(-10px);
	top: 28px;
}

.lootParent,
.stakingParent {
}

.lootParent {
	transform: translateY(25px) translateX(-222px);
}

.stakingParent {
	transform: translateY(23px) translateX(218px);
}

.lootOverlay,
.stakingOverlay {
	height: 308px;
	aspect-ratio: 63 / 210.5;
	width: auto;
}

.lootOverlay {
}

.stakingOverlay {
}

.lootSignage,
.stakingSignage {
	height: 34px;
	aspect-ratio: 42 / 34;
	width: auto;
	top: 15px;
}

.lootSignage {
	transform: rotate(3deg) translateX(8px);
	top: 18px;
}

.stakingSignage {
	transform: rotate(-3deg) translateX(-4px);
	top: 19px;
}

.arcadeLabParent {
	transform: translateY(18px) translateX(1px);
}

.arcadeLabOverlay {
	height: 138px;
	aspect-ratio: auto;
	width: auto;
}

.arcadeLabSignage {
	height: 14px;
	aspect-ratio: 92 / 14;
	width: auto;
	top: -10px;
}

.contentParent {
	position: relative;
}

.doorOpen {
	width: 166.3px;
	aspect-ratio: 184 / 122;
	height: auto;
	position: absolute;
	transform: translateX(-675px) translateY(5px);
	z-index: 10;
	opacity: 0;
	transition: opacity 0.5s ease-in-out 2s;
}

.doorOpen:hover {
	opacity: 1;
}

.connectWallet {
	width: 220px;
	aspect-ratio: 196 / 107;
	height: auto;
	position: absolute;
	transform: translateX(707px) translateY(5px);
	z-index: 10;
	opacity: 0;
	transition: opacity 0.5s ease-in-out 2s;
}

.connectWallet:hover {
	opacity: 1;
}

@keyframes imageComponentsWrapperFrames {
	0% {
		transform: scale(0.9) translateY(-80px);
	}
	50% {
		transform: scale(0.95) translateY(-40px);
	}
	100% {
		transform: scale(1) translateY(0);
	}
}

@keyframes imageComponentsWrapperConOriginalFrames {
	0% {
		opacity: 1;
		visibility: visible;
	}
	50% {
		opacity: 0.5;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes imageComponentsWrapperConCloneFrames {
	0% {
		transform: scale(1.1) translateY(80px);
		visibility: visible;
		opacity: 0;
	}
	50% {
		transform: scale(1.05) translateY(40px);
		opacity: 0.5;
		visibility: visible;
	}
	100% {
		transform: scale(1) translateY(0);
		opacity: 1;
		visibility: visible;
	}
}

/* --------------------------- Media Queries ------------------------- */
/* iPad Air landscape */
@media only screen and (max-width: 1180px) and (orientation: landscape) {
}

/* iPad Pro */
@media only screen and (max-width: 1024px) {
}

/* iPad Mini landscape */
@media only screen and (max-width: 1024px) and (orientation: landscape) {
}

/* Special (Range of iPad Pro - iPad Mini)*/
@media only screen and (max-width: 1024px) and (min-width: 835px) {
	.homeParent {
		height: calc(100vh - 80px) !important;
	}

	.imageComponentsWrapper {
		transform: scale(0.65) translateY(-130px) !important;
	}
}

/* Mobile landscape */
@media only screen and (max-width: 950px) and (orientation: landscape) {
}

/* Small device */
@media only screen and (max-width: 834px) {
	/* .imageComponentsWrapper,
	.imageComponentsWrapperCon,
	.bg,
	.signageParent {
		width: 863px;
		aspect-ratio: 1133 / 744;
	} */

	.imageComponentsWrapper {
		transform: scale(0.8) translateY(-80px) !important;
	}
}

/* Tiny device */
@media only screen and (max-width: 480px) {
	.imageComponentsWrapper,
	.imageComponentsWrapperCon,
	.bg,
	.signageParent {
		width: 428px;
		height: 926px;
		aspect-ratio: 428 / 926;
	}
}

/* iPhone 12 */
@media only screen and (max-width: 390px) {
}

/* Super Tiny device */
@media only screen and (max-width: 360px) {
}

/* Query specifically for touchscreen devices */
@media only screen and (hover: none) {
}
